.Card {
    width: 89%;
    min-height: 85px;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    text-align: right;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pr-low {
    background-color: #f5f5f5;
}

.pr-medium {
    background-color: #fff;
}

.pr-high {
    background-color: #ffffe2;
    border: 1px solid #e6d396;
}

.pr-highest {
    background-color: #ffdddd;
    border: 1px solid #ffa8a8
}

.remove-card-btn {
    text-align: right;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    background: none;
    border: none;
    padding: 0;
}

h3 {
    margin: 0;
    font-size: 17px;
    text-align: left;
}

p {
    font-size: 15px;
    text-align: left;
}
